# API URL (Backend)
NEXT_PUBLIC_API_URL=http://localhost:4000

# Razorpay (Public Key Only)
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_live_SPpdgYQ0eQ3pYL

# ImageKit (Public)
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_iY5elozCt+/AK6+w7yTV4NO/TMU=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/7ci4tyanp

