# Server
NODE_ENV=development
PORT=4000

# Database
MONGODB_URI=mongodb+srv://vedangkhedekar07_db_user:Px3kv9vdlkzRSxIP@cluster0.iqg5tcy.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=vFTUAPkBZx2VoPkk2Xf+3IYDRFGKAoZJYik7FAMkZMg=
JWT_EXPIRES_IN=7d

# Razorpay
RAZORPAY_KEY_ID=rzp_live_SPpdgYQ0eQ3pYL

RAZORPAY_KEY_SECRET=tXS7NmpEsSWQNO2umj4xobsr


# Brevo
BREVO_API_KEY=xkeysib-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BREVO_SENDER_EMAIL=noreply@ambicaapartment.com
BREVO_SENDER_NAME=Ambica Apartment

# ImageKit
IMAGEKIT_PUBLIC_KEY=public_iY5elozCt+/AK6+w7yTV4NO/TMU=
IMAGEKIT_PRIVATE_KEY=private_A80mWGf0ew7DX5mP0PUbT7H2JKs=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/7ci4tyanp

# Client URL (for CORS)
CLIENT_URL=http://localhost:3000

# OTP
OTP_EXPIRY_MINUTES=10
